						</div> <!-- /row -->
						<div class="row" id="design">
							<div class="col-md-4 col-md-push-7">	
								<div class="home-dev-info">
										<figure>
											<img class="img" src="https://bootdey.com/img/Content/Smartypants3.jpg" width="335" height="340">
										</figure>
									</div>
							</div> <!-- col -->
							<div class="col-md-6 col-md-pull-3">
									<div class="deets">
									<h3 class="text-primary">Second step in my  description.<span class="glyphicon glyphicon-arrow-right"></span> </h3>	
									<p>
                                       Here too I put much text
                                        but not to use lorem ipsum I am writing this
                                        Once writing we will obtain a snippet
                                        Thanks to bootdey snippets Html Css Js    
                                    </p>
                                    <button class="button">Selengkapnya</button>
								</div>						
							</div> <!-- col -->	
						</div> <!-- /row -->
						<div class="row" id="design">
							<div class="col-md-4 col-md-offset-1">
									<div class="home-design-info">
										<figure>
											<img class="img" src="https://bootdey.com/img/Content/HexGames349.jpg" width="335" height="340">
										</figure>
									</div>	
							</div> <!-- 4 -->	
							<div class="col-md-6">
								<div class="deets">
									<h3 class="text-primary"><span class="glyphicon glyphicon-arrow-right"></span> My personal description</h3>	
									<p>Hello, this is my personal description
                                        I am writing texts that come out of my mind
                                        in order not to lorem ipsum
                                        the following will say that bootdey is a gallery of snippets for bootstrap
                                        Csss Js HTML codes.
                                    </p>
                                    <button class="button">Selengkapnya</button>
								</div>
							</div>	
						</div> <!-- /row -->